nav {
    transition: all 0.5s;
    .navbar-brand {
        text-transform: uppercase;
    }
    .nav-item {
        margin-right: 1rem;
        .nav-link {
            font-size: 1rem;
            cursor: pointer;
            &.active {
                border-bottom: 0.25rem solid var(--primary);
            }
        }
    }
}
